@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-extrabold;
    }

    p {
        @apply font-mono;
    }
}

@layer components {
    .navbar_bg {
        @apply text-3xl bg-gray-600 flex p-2 list-none
        place-content-center place-items-center gap-9 h-16
    }

    .recipeContainer {
        @apply bg-gray-600 m-2 rounded-2xl h-96 object-cover overflow-hidden
    }

    .recipesSite {
        @apply grid grid-cols-recipe3 justify-center place-content-start
        bg-gradient-to-bl from-blue-800 to-green-400 h-[100%] min-h-[calc(100vh-4rem)]
    }

    .recipeContainerImage {
        @apply rounded-2xl max-h-[60%] w-screen object-cover
    }

    .navbarListItem {
        @apply rounded-3xl bg-gray-400 w-12 h-12 justify-center place-items-center flex
    }

    .AuthItem {
        @apply p-2 flex place-content-center
    }
    .AccountInput {
        @apply bg-gray-300 p-1.5 rounded-2xl
    }
    .AccountLabel {
        @apply mx-2 p-1.5 w-16
    }
}

.break-word
{
    word-wrap: break-word;
    white-space: initial;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
    html {
        color-scheme: white;
    }
    body {
        color: black;
        background: white;
    }
}